/*Estilos de los colores*/
#azul {
    color: #0000ff;
    font-family: sans-serif;
}

#rojo {
    color: #ff0000;
    font-family: sans-serif;
}

#autoria {
    color: #ffa588;
    font-family: sans-serif
}